.log{
    margin-top: 1rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background: #fff;
    padding: 1.25rem;
}

.title{
    font-size: 22px;
    margin-right: 1rem;
}

.type{
    font-weight: bold;
}

.value{
    color:rgb(143,144,144);
}

.actionButton {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    color: #007ac1;
}

.actionButton:hover {
    cursor: pointer;
    color: #063156;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
